@import "tailwindcss";

@theme {
  --color-sky-blue: #8ecae6ff;
  --color-blue-green: #219ebcff;
  --color-prussian-blue: #023047ff;
  --color-selective-yellow: #ffb703ff;
  --color-ut-orange: #fb8500ff;
  --font-coffeecake: "CoffeeCake", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
  --font-onest-latin: "Onest Latin", sans-serif;
}

@font-face {
  font-family: "CoffeeCake";
  src: url("/src/assets/fonts/CoffeCake 400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/src/assets/fonts/work-sans-latin-800-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest Latin";
  src: url("/src/assets/fonts/onest-latin-400-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
