@import "tailwindcss";

:root {
  --color-blue-green: #219ebcff;
  --color-prussian-blue: #023047ff;
  --color-selective-yellow: #ffb703ff;
  --color-ut-orange: #fb8500ff;
  --font-coffeecake: "CoffeeCake", sans-serif;
  --font-work-sans: "Work Sans", sans-serif;
  --font-onest-latin: "Onest Latin", sans-serif;
}

@font-face {
  font-family: "CoffeeCake";
  src: url("/src/assets/fonts/CoffeCake 400.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/src/assets/fonts/work-sans-latin-800-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest Latin";
  src: url("/src/assets/fonts/onest-latin-400-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.card-neumorphism {
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
